      <li class="issue <%= issue_counter.odd? ? "odd" : "even" %> priority-<%= issue.priority.position %>" id="issue_<%= issue.id %>">
        <div class="issue-details">
        <%= link_to('#' + issue.id.to_s, :controller => 'issues', :action => 'show', :id => issue) %>
        - <%= h(issue.project.name) %> -
        <%= link_to(h(issue.subject), :controller => 'issues', :action => 'show', :id => issue) %>
        </div>

        <div class="estimate"><%= h issue.estimated_hours %> &nbsp;</div>

        <div class="progress"><%= progress_bar(issue.done_ratio, :width => '100%') %></div>

        <div style="clear:left;"></div>
      </li>
