      <li class="stuff-to-do-item issue <%= issue_counter.odd? ? "odd" : "even" %> priority-<%= issue.priority.position %>" id="stuff_<%= issue.id %>">
        <div class="issue-details">
        <%= link_to(image_tag('ticket.png'), :controller => 'issues', :action => 'show', :id => issue) %>
        #<%= h(issue.id) %>
        - <%= h(issue.project.name) %> -
        <%= h(issue.subject) %>
        </div>

        <div class="estimate"><%= h issue.estimated_hours %> &nbsp;</div>

        <div class="progress"><%= progress_bar(issue.done_ratio, :width => '100%') %></div>

        <div style="clear:left;"></div>
      </li>
