
  <div class="pane" id="doing-now-pane">
    <h3>
      <%= l(:stuff_to_do_what_im_doing_now) %>
      <span class="subtitle"><%= l(:stuff_to_do_text_order_im_doing_it) %></span>
    </h3>

    <ol id="doing-now">
      <% unless @doing_now.empty? %>
      <% @doing_now.each do |item| %>
      <li class="issue" id="issue_<%= item.issue.id %>">
        <%= link_to('#' + item.issue.id.to_s, :controller => 'issues', :action => 'show', :id => item.issue) %>
        - <%= h(item.issue.project.name) %> -
        <%= link_to(h(item.issue.subject), :controller => 'issues', :action => 'show', :id => item.issue) %>
      </li>
      <% end %>
      <% else %>
      <li class="empty-list">
        Drag issues here to create a new list.
      </li>
      <% end %>
    </ol>
  </div>

  <div class="pane" id="recommended-pane">
    <h3>
      <%= l(:stuff_to_do_what_is_recommended) %>
      <span class="subtitle"><%= l(:stuff_to_do_text_by_project_manager) %></span>
    </h3>

    <ol id="recommended">
      <% @recommended.each do |item| %>
      <li class="issue" id="issue_<%= item.issue.id %>">
        <%= link_to('#' + item.issue.id.to_s, :controller => 'issues', :action => 'show', :id => item.issue) %>
        - <%= h(item.issue.project.name) %> -
        <%= link_to(h(item.issue.subject), :controller => 'issues', :action => 'show', :id => item.issue) %>
      </li>
      <% end %>
    </ol>
  </div>


