
  <div class="pane" id="doing-now-pane">
    <h3>
      <%= l(:stuff_to_do_what_im_doing_now) %>
      <span class="subtitle"><%= l(:stuff_to_do_text_order_im_doing_it) %></span>
    </h3>

    <ol id="doing-now">
      <% unless @doing_now.empty? %>
      <%= render :partial => 'issue', :collection => @doing_now.collect(&:issue) %>
      <% else %>
      <li class="empty-list">
        Drag issues here to create a new list.
      </li>
      <% end %>
    </ol>

    <div id="doing-now-total-progress">
      <%= progress_bar_sum(@doing_now.collect(&:issue), :done_ratio, { :width => '200px', :legend =>  l(:stuff_to_do_text_total_progress) }) %>
    </div>

    <div id="doing-now-estimates">
      <%= l(:stuff_to_do_text_total_estimates) %> <%= total_estimates(@doing_now.collect(&:issue)) %>
    </div>

  </div>

  <div class="pane" id="recommended-pane">
    <h3>
      <%= l(:stuff_to_do_what_is_recommended) %>
      <span class="subtitle"><%= l(:stuff_to_do_text_by_project_manager) %></span>
    </h3>

    <ol id="recommended">
      <%= render :partial => 'issue', :collection => @recommended.collect(&:issue) %>
    </ol>

    <div id="recommended-total-progress">
      <%= progress_bar_sum(@recommended.collect(&:issue), :done_ratio, { :width => '200px', :legend =>  l(:stuff_to_do_text_total_progress) }) %>
    </div>

    <div id="recommended-estimates">
      <%= l(:stuff_to_do_text_total_estimates) %> <%= total_estimates(@recommended.collect(&:issue)) %>
    </div>
  </div>


