<div id="panes">
<%= form_tag({}, data: { cm_url: issues_context_menu_path}) do -%>
<%= hidden_field_tag 'back_url', request.xhr? ? request.env['HTTP_REFERER'] : url_for(params: request.query_parameters), id: nil %>

<div class="splitcontentleft">
  <%= render partial: 'left_panes' %>
</div>

<div class="splitcontentright">
  <%= render partial: 'right_panes' %>
</div>

<% end %>
</div>

<%= (StuffToDoHelper.compare_versions('3.4.0', Redmine::VERSION.to_s) <= 0) && context_menu; %>

