<%= form_tag({:action => 'time_grid'}, :id => 'query_form') do %>
<fieldset id="date-range"><legend><%= l(:label_date_range) %></legend>
    <%= select_month(@date.month, :prefix => "month", :discard_type => true) %>
    <%= select_day(@date.day, :prefix => "day", :discard_type => true) %>
    <%= select_year(@date.year, :prefix => "year", :discard_type => true) %>
</fieldset>

<p style="float:right; margin:0px;">
<%= link_to "&#171; #{l(:label_previous)} #{l(:label_week).downcase}".html_safe,
      { action: 'time_grid', date: @date - 7 },
      { class: 'time_grid_change_week' } %> |
<%= link_to "#{l(:label_next)} #{l(:label_week).downcase}  &#187;".html_safe,
      { action: 'time_grid', date: @date + 7 },
      { class: 'time_grid_change_week' } %>
</p>

<p class="buttons">
<%= link_to l(:button_apply), { action: 'time_grid' },
      { class: 'icon icon-checked time-grid-apply-date' } %>

<%= link_to l(:button_clear), { action: 'time_grid' },
      { class: 'icon icon-reload time-grid-reset-date' } %>
</p>
<% end %>

