<h1><%= l(:stuff_to_do_title) %></h1>

<div class="splitcontentleft">
  <%= render :partial => 'left_panes' %>
</div>

<div class="splitcontentright">

  <h3><%= l(:stuff_to_do_what_is_available) %></h3>

  <div id="available-pane">
    <ul id="available">
      <% @available.each do |issue| %>
      <li class="issue" id="issue_<%= issue.id %>">
        <%= link_to('#' + issue.id.to_s, :controller => 'issues', :action => 'show', :id => issue) %>
        - <%= h(issue.project.name) %> -
        <%= link_to(h(issue.subject), :controller => 'issues', :action => 'show', :id => issue) %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "stuff_to_do.css", :plugin => "stuff_to_do_plugin", :media => 'all' %>
  <%= javascript_include_tag 'jquery-1.2.6.min.js', :plugin => 'stuff_to_do_plugin' %>
  <%= javascript_include_tag 'jquery-ui.js', :plugin => 'stuff_to_do_plugin' %>
  <%= javascript_tag("jQuery.noConflict();") %>
  <%= javascript_include_tag 'stuff-to-do.js', :plugin => 'stuff_to_do_plugin' %>

<%# TODO: Move to js file after dev %>
<script type="text/javascript">
jQuery(document).ready(function(){
    jQuery("#available").sortable({ 
        connectWith: ["#doing-now", "#recommended"], 
        update : function () {
            console.log('ava');
            console.log(jQuery("#doing-now").sortable('serialize'));
            console.log(jQuery("#recommended").sortable('serialize'));
            data = jQuery("#doing-now").sortable('serialize') + '&' + jQuery("#recommended").sortable('serialize')
            jQuery.post('/stuff_to_do/reorder.js', data, function(response) {
                jQuery('.splitcontentleft').html(response);

                // Reattach sortables
                jQuery("#doing-now").sortable({ 
                    connectWith: ["#available", "#recommended"], 
                });  

                jQuery("#recommended").sortable({ 
                    connectWith: ["#available", "#doing-now"],
                })
            });

        }

    }); 
    jQuery("#doing-now").sortable({ 
        connectWith: ["#available", "#recommended"], 
    });  

    jQuery("#recommended").sortable({ 
        connectWith: ["#available", "#doing-now"],
    });  
});
</script>
<% end %>
