<h1><%= l(:stuff_to_do_title) %></h1>

<div class="splitcontentleft">

  <div id="doing-now-pane">
    <h3><%= l(:stuff_to_do_what_im_doing_now) %></h3>

    <ul id="doing-now">
      <% @doing_now.each do |item| %>
      <li class="issue">
        <%= link_to('#' + item.issue.id.to_s, :controller => 'issues', :action => 'show', :id => item.issue) %>
        - <%= h(item.issue.project.name) %> -
        <%= link_to(h(item.issue.subject), :controller => 'issues', :action => 'show', :id => item.issue) %>
      </li>
      <% end %>
    </ul>
  </div>

  <h3><%= l(:stuff_to_do_what_is_recommended) %></h3>

  <div id="recommended-pane">

    <ul id="recommended">
      <% @recommended.each do |item| %>
      <li class="issue">
        <%= link_to('#' + item.issue.id.to_s, :controller => 'issues', :action => 'show', :id => item.issue) %>
        - <%= h(item.issue.project.name) %> -
        <%= link_to(h(item.issue.subject), :controller => 'issues', :action => 'show', :id => item.issue) %>
      </li>
      <% end %>
    </ul>
  </div>

</div>

<div class="splitcontentright">

  <h3><%= l(:stuff_to_do_what_is_available) %></h3>

  <div id="available-pane">
    <ul id="available">
      <% @available.each do |issue| %>
      <li class="issue">
        <%= link_to('#' + issue.id.to_s, :controller => 'issues', :action => 'show', :id => issue) %>
        - <%= h(issue.project.name) %> -
        <%= link_to(h(issue.subject), :controller => 'issues', :action => 'show', :id => issue) %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
