<h1><%= l(:stuff_to_do_title) %></h1>

<div class="flash error" style="display:none">

</div>

<% if User.current.admin? %>
<div class="user">
  <% form_tag({ :controller => 'stuff_to_do', :action => 'index'}, :method => :get, :id => 'user_switch' ) do  %>
  <label for="user_id"><%= l(:stuff_to_do_label_view_user_list) %></label>
  <%= collection_select(:user, :id, @users.sort, :id, :name, { }, { :name => 'user_id'}) %>
  <% end %>
</div>

<div style="clear:right;"></div>
<% end %>

<div class="splitcontentleft">
  <%= render :partial => 'left_panes' %>
</div>

<div class="splitcontentright">

  <div class="pane" id="available-pane">
    <h3><%= l(:stuff_to_do_what_is_available) %></h3>

    <ol id="available">
      <% unless @available.empty? %>
      <%= render :partial => 'issue', :collection => @available %>
      <% else %>
      <li class="empty-list">
        Drag issues here to remove them from a list.
      </li>
      <% end %>
    </ol>

    <div id="available-total-progress">
      <%= progress_bar_sum(@available, :done_ratio, { :width => '200px', :legend =>  l(:stuff_to_do_text_total_progress) }) %>
    </div>

    <div id="available-estimates">
      <%= l(:stuff_to_do_text_total_estimates) %> <%= total_estimates(@available) %>
    </div>

  </div>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "stuff_to_do.css", :plugin => "stuff_to_do_plugin", :media => 'all' %>
  <%= javascript_include_tag 'jquery-1.2.6.min.js', :plugin => 'stuff_to_do_plugin' %>
  <%= javascript_include_tag 'ui/ui.core.js', :plugin => 'stuff_to_do_plugin' %>
  <%= javascript_include_tag 'ui/ui.sortable.js', :plugin => 'stuff_to_do_plugin' %>
  <%= javascript_tag("jQuery.noConflict();") %>
  <%= javascript_include_tag 'stuff-to-do.js', :plugin => 'stuff_to_do_plugin' %>
  <%= javascript_tag("var user_id = #{@user.id};") %>

<%# TODO: Move to js file after dev %>
<%# TODO: JSUnit test this %>
<script type="text/javascript">
jQuery(document).ready(function(){
    attachSortables();

    jQuery("#user_id").change(function() {  jQuery("form#user_switch").submit();  });
    jQuery("#ajax-indicator").ajaxStart(function(){ jQuery(this).show();  });
    jQuery("#ajax-indicator").ajaxStop(function(){ jQuery(this).hide();  });

});

function attachSortables() {
    jQuery("#available").sortable({ 
        connectWith: ["#doing-now", "#recommended"], 
        placeholder: 'drop-accepted',
        dropOnEmpty: true,
        update : function (event, ui) {
            if (jQuery('#available li.issue').length > 0) {
                jQuery("#available li.empty-list").hide();
            } else {
                jQuery("#available li.empty-list").show();
            }
        }
    }); 

    jQuery("#doing-now").sortable({ 
        connectWith: ["#available", "#recommended"], 
        dropOnEmpty: true,
        placeholder: 'drop-accepted',
        update : function (event, ui) { updateList(ui); }
    });  

    jQuery("#recommended").sortable({ 
        connectWith: ["#available", "#doing-now"],
        dropOnEmpty: true,
        placeholder: 'drop-accepted',
        update : function (event, ui) { updateList(ui); }
    });  

}

function updateList(ui) {
    // Don't allow the available to update unless there are free slots.
    // But allow it to update from it's own sorting and alow what I'm doing now
    if (openSlots() || !fromAvailable(ui)) {
        saveOrder();
    } else {
        jQuery("#available").sortable('cancel');

        jQuery("div.error")
        .html("Only 15 issues can be added for a user.  To add another issues, please remove one from the doing now or the recommended pane.")
        .show()
        .animate({opacity: 1.0}, 6000)
        .fadeOut("slow");

    }
}

function saveOrder() {
    data = 'user_id=' + user_id + '&' + jQuery("#doing-now").sortable('serialize') + '&' + jQuery("#recommended").sortable('serialize')
    jQuery.ajax({
        type: "POST",
        url: '/stuff_to_do/reorder.js',
        data: data,
        success: function(response) {
            jQuery('.splitcontentleft').html(response);
            attachSortables();
        },
        error: function(response) {
            jQuery("div.error").html("Error saving lists.  Please refresh the page and try again.").show();
        }});

}

function openSlots() {
    // Is +1 because there is a placeholder inserted
    if ((jQuery('#doing-now li').length + jQuery('#recommended li').length) > 16) {
        return false;
    } else {
        return true;
    }
}

function fromAvailable(ui) {
    return (ui.sender != null && ui.sender.attr('id') == "available");
}
</script>
<% end %>
