<li class="stuff-to-do-item project <%= project_counter.odd? ? "odd" : "even" %>" id="stuff_project<%= project.id %>">
<div class="project-details">      
<% if !@bypass_user_allowed_to_view and !@user.allowed_to? :view_issues, project and !@user.allowed_to_globally?(:view_all_reportee_stuff_to_do, {}) %>
  <em><%= l(:stuff_to_do_project_unathorized) %></em>
  </div>
<% else %>
   <% if @bypass_user_allowed_to_view or project.visible?(@user) %>
    <%= link_to(image_tag('package.png'), project_url(project)) %>
   <% else %>
    <%= image_tag('package.png') %>
   <% end %>
   <%= h project.name %>
  </div>
<% end %>
<div style="clear:left;"></div>
</li>
